.titulo {
  background-color: #6BD1FF;
  display: inline-flex;
  width: 350px;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: .5rem;
  justify-content: center;
}

.titulo h2 {
  padding: 0 .8rem;
  font-weight: 800;
}