.containerCard {
  background-color: black;
  width: 350px;
  border-radius: 1rem;
  margin-top: 1.5rem;
 


}

.containerCard img {
  border-radius: 1rem;
  width: 350px;
  padding: 0 0 1rem 0;

}

.containerBotao {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.containerBotao button {
  display: flex;
  align-items: center;
  gap: .5rem;
  
  padding: .5rem 1rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  border: none;
  font-family: var(--fonte-principal);
  border-radius: .5rem;
  cursor: pointer;
}

.containerBotao button:hover {
  background-color: rgba(143, 143, 143, 0.29);
}

 @media (max-width: 1200px) {
  .containerCard {
    width: 320px;
  }

  .containerCard img {
    width: 320px;
  }
}

@media (max-width: 720px) {
  .containerCard {
    width: 350px;
  }

  .containerCard img {
    width: 350px;
  }
}

@media (max-width: 430px) {
  .containerCard {
    width: 300px;
  }

  .containerCard img {
    width: 300px;
  }
}
