@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --cinza-escuro: rgba(0, 0, 0, 0.918);;
  --azul-escuro: #2271D1;
  --azul-marinho: #03122F;
  --fonte-principal: "Roboto", sans-serif;
  --fonte-secundaria: "Source Sans 3", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fonte-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
