.container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;

}

.container p, h3 {
  text-align: left;
  color: white;
}

.container iframe {
  border-radius: .5rem;
}


@media (max-width: 720px) {
  .container {
    display: none;
  }
}

