.container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container iframe {
  border-radius: .5rem;
}
